In [ ]:
import pyodbc

server = "10.0.40.20"
database = "DataWarehouseV2_UK"
username = "DEV_TANISH"
password = "Tanish@@1606$$"

conn_str = (
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={server};DATABASE={database};"
    f"UID={username};PWD={password};TrustServerCertificate=yes;"
)

tables_to_query = [
    "dbo.Vw_SI_SalesDetails",
    "dbo.Vw_SI_SalesSummary",
    "dbo.View_DiscountDetails"
]

# For each table, try to fetch up to 12 records for year 2025 (if year column exists)
try:
    conn = pyodbc.connect(conn_str, timeout=5)
    print("Connection successful!")
    cursor = conn.cursor()
    for table in tables_to_query:
        print(f"\nUp to 12 records from {table} for year 2024:")
        # Try to fetch with year filter; if fails, fetch just TOP 12
        try:
            # Check if table has a 'year' column
            cursor.execute(f"SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{table.split('.')[-1]}'")
            columns_in_table = [row[0].lower() for row in cursor.fetchall()]
            if 'year' in columns_in_table:
                query = f"SELECT TOP 12 * FROM {table} WHERE year = 2024"
            else:
                query = f"SELECT TOP 12 * FROM {table}"
            cursor.execute(query)
            columns = [column[0] for column in cursor.description]
            rows = cursor.fetchall()
            print(columns)
            for row in rows:
                print(row)
        except Exception as table_e:
            print(f"Failed to fetch from {table}: {table_e}")
    cursor.close()
    conn.close()
except Exception as e:
    print("Connection failed:", e)

Connection successful!

Up to 12 records from dbo.Vw_SI_SalesDetails for year 2024:
['CheckId', 'Date', 'Month', 'Year', 'EmployeeName', 'DayPart', 'RevenueCenter', 'MenuItem', 'CategoryId', 'Quantity', 'DiscountAmount', 'GrossAmount', 'NetAmount', 'TaxAmount', 'CompanyCode', 'SiteCode']
('T4--4718', datetime.date(2024, 5, 18), 'May', 2024, None, 'Lunch', 'Roof', 'CHICKEN SHAWARMA ROLL', '0FFE5ADF-ACB6-4AD8-B2C6-4FB640B32551', 1, Decimal('0.0000'), Decimal('5.9000'), Decimal('5.3640'), Decimal('0.5360'), 'C2116', 'L3049')
('83947', datetime.date(2024, 9, 20), 'September', 2024, 'Oswald Ndlovu', 'Dinner', "Hurricane's Grill Dine I", 'Pepper Steak', '51C7F3C0-E793-4A00-92AF-15E56D04CDC6', 1, Decimal('0.0000'), Decimal('210.0000'), Decimal('187.5000'), Decimal('22.5000'), 'C1642', 'L2328')
('306054', datetime.date(2024, 12, 9), 'December', 2024, 'Kerim Sassi', 'Lunch', 'Pisco Bar', 'POS 1', '58A8E651-87DA-40C5-B012-2D5928E41337', 1, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'C1871', 'L2694')
('13228331', datetime.date(2024, 9, 20), 'September', 2024, 'Ilaria Zaffino', 'Dinner', 'Coya', '** Cond Comida con preci', 'DB9BBDE0-597C-4C24-8F9C-77107C8B5B2D', 1, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'C2119', 'L3055')
('9097', datetime.date(2024, 12, 12), 'December', 2024, 'Reshma Francis', 'All Day', 'Bar', "Maggie's Cancer Charity", '4288BF90-3571-4A62-B779-80FDCB8C8CD9', 1, Decimal('0.0000'), Decimal('1.0000'), Decimal('1.0000'), Decimal('0.0000'), 'C1878', 'L2735')
('1374', datetime.date(2024, 11, 9), 'November', 2024, 'Anjali Podila', 'All Day', 'Bar', 'Spec Prep', '995C36F3-4E8E-4C5E-8B02-0987D8118699', 1, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'C1878', 'L2754')
('TMC-3437', datetime.date(2024, 2, 14), 'February', 2024, None, 'Lunch', 'Restaurant', 'Chili Flakes', 'FFEDC494-C7D4-4D3C-84C9-E5AA506BB7D7', 1, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'C1806', 'L2592')
('49914', datetime.date(2024, 7, 26), 'July', 2024, None, 'Dinner', 'General', 'Affogato', '997EC049-3D6A-4D4E-BE99-4C02D9CBE8FE', 1, Decimal('0.0000'), Decimal('6.0000'), Decimal('5.0000'), Decimal('1.0000'), 'C1780', 'L2563')
('420103', datetime.date(2024, 7, 27), 'July', 2024, 'Dominika Ponska', 'Dinner', 'Nobu PR', '** Cond Comida con preci', '3770E5C0-66C8-40A8-BDF6-39A782D5C502', 1, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'C2119', 'L3211')
('13131662', datetime.date(2024, 10, 28), 'October', 2024, 'Santiago Faz Garcia', 'Dinner', 'Cipriani', '***COMMENTS***', 'A899DE12-9E95-4139-A664-4DB66CE06E07', 1, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'C2119', 'L3054')
('AP-2404454', datetime.date(2024, 4, 19), 'April', 2024, None, 'Lunch', 'Restaurant', 'EVIAN SPARKLING 0.75 cl', '591071D2-AAA1-43D2-AAD9-DF23872E0CFA', 1, Decimal('0.0000'), Decimal('39.0000'), Decimal('33.9100'), Decimal('5.0900'), 'C1843', 'L2666')
('A886864.19109', datetime.date(2024, 11, 4), 'November', 2024, None, 'Dinner', 'Fixed POS', 'Turbot on the Bone 900', '5300CCD8-5CAB-46ED-ACAF-EA41F50BD214', 1, Decimal('0.0000'), Decimal('100.0000'), Decimal('83.3333'), Decimal('16.6667'), 'C2178', 'L3169')

Up to 12 records from dbo.Vw_SI_SalesSummary for year 2024:
['CheckId', 'Date', 'Month', 'Year', 'DayPart', 'RevenueCenter', 'Covers', 'GrossAmount', 'NetAmount', 'DiscountAmount', 'ServiceChargeAmount', 'HouseTipsAmount', 'SiteCode', 'CompanyCode']
('7776', datetime.date(2024, 12, 19), 'December', 2024, 'Dinner', 'Restaurant', 4, Decimal('225.2160'), Decimal('187.8500'), Decimal('0.0000'), Decimal('32.5074'), Decimal('0.0000'), 'L2313', 'C1587')
('AE-2409317', datetime.date(2024, 9, 9), 'September', 2024, 'Dinner', 'Pub', 1, Decimal('5.2500'), Decimal('4.3800'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'L2579', 'C1796')
('8709', datetime.date(2024, 8, 7), 'August', 2024, 'All Day', 'Bar', 1, Decimal('25.0000'), Decimal('20.8333'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'L2752', 'C1878')
('13221637', datetime.date(2024, 9, 21), 'September', 2024, 'Dinner', 'Coya Club', 1, Decimal('50.0000'), Decimal('45.4600'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'L3055', 'C2119')
('1344786', datetime.date(2024, 7, 5), 'July', 2024, 'Lunch', 'Restaurant', 1, Decimal('5150.5000'), Decimal('4292.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'L3662', 'C2397')
('A139022.149366', datetime.date(2024, 8, 31), 'August', 2024, 'Lunch', 'Paymentsense', 1, Decimal('39.0000'), Decimal('32.9999'), Decimal('0.0000'), Decimal('5.2800'), Decimal('0.0000'), 'L2538', 'C1757')
('565126', datetime.date(2024, 9, 7), 'September', 2024, 'Lunch', 'Chiringuito', 2, Decimal('188.0000'), Decimal('170.9300'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'L3211', 'C2119')
('A880888.2187', datetime.date(2024, 6, 6), 'June', 2024, 'Dinner', 'Fixed POS', 1, Decimal('91.0000'), Decimal('75.8334'), Decimal('0.0000'), Decimal('12.2900'), Decimal('0.0000'), 'L3176', 'C2181')
('679342', datetime.date(2024, 9, 4), 'September', 2024, 'Lunch', 'Other', 1, Decimal('176.0000'), Decimal('167.6190'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'L3181', 'C2183')
('100008259', datetime.date(2024, 9, 21), 'September', 2024, 'Dinner', '3', 1, Decimal('26.4000'), Decimal('22.0010'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'L2495', 'C1714')
('32405', datetime.date(2024, 4, 5), 'April', 2024, 'Dinner', 'General', 1, Decimal('18.6000'), Decimal('15.5000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), 'L2455', 'C1674')
('116', datetime.date(2024, 8, 23), 'August', 2024, 'Dinner', 'Main Dining Room', 9, Decimal('2364.4800'), Decimal('2194.0000'), Decimal('3137.0000'), Decimal('438.8000'), Decimal('10.0000'), 'L069', 'C069')

Up to 12 records from dbo.vw_CompanyMaster for year 2024:
['CompanyCode', 'CompanyName']
('C1625', 'Glory Food Service Company')
('C1803', 'Caterland Hospitality Ltd')
('C1787', 'Hinds Head')
('C1813', 'Meraki Restaurants Ltd')
('C1752', 'S Fiori Limited')
('C1818', 'Laki Kane Ltd')
('C2039', 'Breller Ltd')
('C1665', 'Taka Mayfair Ltd')
('C1761', 'KRB CAPITAL LIMITED')
('C1815', 'BCH CLB RESTAURANT - FZCO')
('C1756', 'Smokestak Limited')
('C2110', 'Apple Butter Langham')

In [6]:
import pyodbc

server = "10.0.40.20"
database = "DataWarehouseV2_UK"
username = "DEV_TANISH"
password = "Tanish@@1606$$"

conn_str = (
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={server};DATABASE={database};"
    f"UID={username};PWD={password};TrustServerCertificate=yes;"
)

company_code_to_find = "C1587"
site_code_to_find = "L2312"

try:
    conn = pyodbc.connect(conn_str, timeout=5)
    print("Connection successful!")
    cursor = conn.cursor()

    # Get all tables and views in the database
    cursor.execute("""
        SELECT TABLE_SCHEMA, TABLE_NAME, TABLE_TYPE
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE IN ('BASE TABLE', 'VIEW')
        ORDER BY TABLE_SCHEMA, TABLE_NAME
    """)
    objects = cursor.fetchall()

    found_tables = []

    # Only print those where we have the specified CompanyCode and SiteCode
    for schema, table, obj_type in objects:
        full_name = f"{schema}.{table}"

        # Check if both 'CompanyCode' and 'SiteCode' columns exist in this table/view
        cursor.execute("""
            SELECT COLUMN_NAME
            FROM INFORMATION_SCHEMA.COLUMNS
            WHERE TABLE_SCHEMA = ? AND TABLE_NAME = ? AND COLUMN_NAME IN ('CompanyCode', 'SiteCode')
        """, (schema, table))
        columns = [row[0] for row in cursor.fetchall()]
        if "CompanyCode" in columns and "SiteCode" in columns:
            # Try to find at least one row with the given company and site code
            try:
                query = f"""
                    SELECT TOP 1 CompanyCode, SiteCode
                    FROM {full_name}
                    WHERE CompanyCode = ? AND SiteCode = ?
                """
                cursor.execute(query, (company_code_to_find, site_code_to_find))
                result = cursor.fetchone()
                if result:
                    print(f"✅ {obj_type}: {full_name} contains CompanyCode='{company_code_to_find}' and SiteCode='{site_code_to_find}'")
                    found_tables.append(full_name)
                # Do not print anything if not found
            except Exception as qerr:
                # Do not print anything if error
                pass
        # Do not print anything if columns not present

    if found_tables:
        print("\nSummary: The following tables/views contain the specified CompanyCode and SiteCode:")
        for t in found_tables:
            print(" -", t)
    else:
        print("\nNo tables or views found with both columns and the specified values.")

    cursor.close()
    conn.close()
except Exception as e:
    print("Connection failed:", e)

Connection successful!
✅ BASE TABLE: dbo.CashupCategoryPaperchaseCategoryMapping contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.CoverSourceMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.DayPartMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.DiscountTypeMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.EmployeeMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.EposPaperchaseCategoryWeeklySubCategoryMapping contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.EposSubCategoryMstMapping contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_CheckWiseSummaryDetails contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_CoverSourceDetails contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_DiscountDetails contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_ItemWiseSalesDetails contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_PaymentDetails contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_PaymentMethodMaster contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_RevenueCenterMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_ServiceChargeDetails contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_SessionLinkedMaster contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_VoidReasonMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.KPI_VoidTransactionSummary contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.MenuCategoryMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.MenuItemCategoryMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.MenuItemMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.PaperchaseCategoryMaster contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.PaperchaseFamilyCategoryMaster contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.PaymentMethodMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.RevenueCenterMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ BASE TABLE: dbo.ServiceChargeTypeMst contains CompanyCode='C1587' and SiteCode='L2312'
✅ VIEW: dbo.View_DiscountDetails contains CompanyCode='C1587' and SiteCode='L2312'
✅ VIEW: dbo.Vw_SI_SalesDetails contains CompanyCode='C1587' and SiteCode='L2312'
✅ VIEW: dbo.Vw_SI_SalesSummary contains CompanyCode='C1587' and SiteCode='L2312'

Summary: The following tables/views contain the specified CompanyCode and SiteCode:
 - dbo.CashupCategoryPaperchaseCategoryMapping
 - dbo.CoverSourceMst
 - dbo.DayPartMst
 - dbo.DiscountTypeMst
 - dbo.EmployeeMst
 - dbo.EposPaperchaseCategoryWeeklySubCategoryMapping
 - dbo.EposSubCategoryMstMapping
 - dbo.KPI_CheckWiseSummaryDetails
 - dbo.KPI_CoverSourceDetails
 - dbo.KPI_DiscountDetails
 - dbo.KPI_ItemWiseSalesDetails
 - dbo.KPI_PaymentDetails
 - dbo.KPI_PaymentMethodMaster
 - dbo.KPI_RevenueCenterMst
 - dbo.KPI_ServiceChargeDetails
 - dbo.KPI_SessionLinkedMaster
 - dbo.KPI_VoidReasonMst
 - dbo.KPI_VoidTransactionSummary
 - dbo.MenuCategoryMst
 - dbo.MenuItemCategoryMst
 - dbo.MenuItemMst
 - dbo.PaperchaseCategoryMaster
 - dbo.PaperchaseFamilyCategoryMaster
 - dbo.PaymentMethodMst
 - dbo.RevenueCenterMst
 - dbo.ServiceChargeTypeMst
 - dbo.View_DiscountDetails
 - dbo.Vw_SI_SalesDetails
 - dbo.Vw_SI_SalesSummary