In [10]:
import pyodbc

server = "10.0.40.20"
database = "DataWarehouseV2_UK"
username = "DEV_TANISH"
password = "Tanish@@1606$$"

conn_str = (
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={server};DATABASE={database};"
    f"UID={username};PWD={password};TrustServerCertificate=yes;"
)

tables_to_query = [
    "dbo.Vw_GI_SalesDetails",
    "dbo.Vw_GI_SalesSummary",
    "dbo.Vw_GI_CompanyMaster"
]

# For each table, try to fetch up to 12 records for year 2025 (if year column exists)
try:
    conn = pyodbc.connect(conn_str, timeout=5)
    print("Connection successful!")
    cursor = conn.cursor()
    for table in tables_to_query:
        print(f"\nUp to 12 records from {table} for year 2024:")
        # Try to fetch with year filter; if fails, fetch just TOP 12
        try:
            # Check if table has a 'year' column
            cursor.execute(f"SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{table.split('.')[-1]}'")
            columns_in_table = [row[0].lower() for row in cursor.fetchall()]
            if 'year' in columns_in_table:
                query = f"SELECT TOP 12 * FROM {table} WHERE year = 2024"
            else:
                query = f"SELECT TOP 12 * FROM {table}"
            cursor.execute(query)
            columns = [column[0] for column in cursor.description]
            rows = cursor.fetchall()
            print(columns)
            for row in rows:
                print(row)
        except Exception as table_e:
            print(f"Failed to fetch from {table}: {table_e}")
    cursor.close()
    conn.close()
except Exception as e:
    print("Connection failed:", e)

Connection successful!

Up to 12 records from dbo.Vw_GI_SalesDetails for year 2024:
['CheckId', 'Date', 'Month', 'Year', 'DayPart', 'RevenueCenter', 'MenuItem', 'CategoryId', 'Quantity', 'NetAmount', 'GrossAmount', 'DiscountAmount', 'CompanyCode', 'SiteCode']
('533436', datetime.date(2024, 7, 10), 'July', 2024, 'Lunch', 'Chiringuito', '** Cond Comida con preci', 'E8E46EBE-A266-458F-A9CE-DD76F137D88A', 1, 0, 0, 0, 2434, 2857)
('539562', datetime.date(2024, 7, 21), 'July', 2024, 'Lunch', 'Chiringuito', 'Ens. bogavante', 'CBE93015-0776-40A3-88D3-744C08AB1916', 1, 46, 46, 0, 2434, 2857)
('TMC-617', datetime.date(2024, 2, 20), 'February', 2024, 'Dinner', 'Terrace', 'Sweet Corn salad', '72F6C08B-0F88-4491-98FB-26F43B7A3893', 1, 83, 83, 0, 1974, 2190)
('1006706', datetime.date(2024, 7, 5), 'July', 2024, 'Lunch', 'Room Service', '** Cond Comida con preci', 'E8E46EBE-A266-458F-A9CE-DD76F137D88A', 1, 0, 0, 0, 2434, 2857)
('538644', datetime.date(2024, 7, 20), 'July', 2024, 'Lunch', 'Chiringuito', 'MARCHA 2', 'E8E46EBE-A266-458F-A9CE-DD76F137D88A', 1, 0, 0, 0, 2434, 2857)
('535957', datetime.date(2024, 7, 15), 'July', 2024, 'Lunch', 'Chiringuito', 'N-Z. Naranja Nat', 'D2891A5C-62E1-4914-A0CC-2968EAFB4498', 1, 0, 0, 0, 2434, 2857)
('J-2406349', datetime.date(2024, 6, 5), 'June', 2024, 'Dinner', 'Restaurant', 'Bill Check', '52837376-87BA-407B-8FBF-6F6C0A859C69', 1, 0, 0, 0, 1978, 2194)
('AK-240398', datetime.date(2024, 3, 14), 'March', 2024, 'Dinner', 'Restaurant', 'Baby Chicken', 'D3B320D8-3C69-4D41-BA1D-9E8E2474B897', 2, 308, 308, 0, 1978, 2194)
('EO-240245', datetime.date(2024, 2, 11), 'February', 2024, 'Lunch', 'Bar', 'Wainwright Amber Pint', '24403BD6-B26F-430F-A991-C91E6E4C5E33', 1, 5, 5, 0, 1866, 2077)
('TMC-1', datetime.date(2024, 6, 16), 'June', 2024, 'Lunch', '1. Restaurant', '1 x Scoop', '540FA12F-85CC-4389-96EC-78A965AA9DF4', 1, 1, 1, 0, 1002, 1113)
('J-2404790', datetime.date(2024, 4, 16), 'April', 2024, 'Dinner', 'Restaurant', 'Tuna Carpaccio', '136F059F-10CA-4B87-9B2E-3B5EFEE2A0E0', 1, 85, 85, 0, 1978, 2194)
('L-2405887', datetime.date(2024, 5, 18), 'May', 2024, 'Dinner', 'Restaurant', 'Cauliflower Salad', '136F059F-10CA-4B87-9B2E-3B5EFEE2A0E0', 1, 35, 70, 35, 1978, 2194)

Up to 12 records from dbo.Vw_GI_SalesSummary for year 2024:
['CheckId', 'Date', 'Month', 'Year', 'DayPart', 'RevenueCenter', 'Covers', 'NetAmount', 'GrossAmount', 'DiscountAmount', 'ServiceChargeAmount', 'HouseTipsAmount', 'SiteCode', 'CompanyCode']
('14672', datetime.date(2024, 6, 19), 'June', 2024, 'Dinner', 'General', 1, 67, 81, 0, 10, 0, 2739, 1948)
('TMC-4882', datetime.date(2024, 7, 13), 'July', 2024, 'Dinner', 'Restaurant', 2, 0, 0, 0, 0, 0, 2178, 1965)
('R-2405241', datetime.date(2024, 5, 6), 'May', 2024, 'Lunch', 'Restaurant', 1, 45, 45, 0, 5, 0, 2843, 2425)
('19554', datetime.date(2024, 4, 10), 'April', 2024, 'Dinner', 'Take away', 1, 120, 138, 0, 0, 0, 2929, 1793)
('R-2407562', datetime.date(2024, 7, 14), 'July', 2024, 'Lunch', 'Restaurant', 3, 46, 46, 0, 5, 0, 2843, 2425)
('AG-240623', datetime.date(2024, 6, 2), 'June', 2024, 'Dinner', 'Restaurant', 1, 0, 0, 0, 0, 0, 2495, 2184)
('82379', datetime.date(2024, 2, 15), 'February', 2024, 'Lunch', 'General', 2, 6, 7, 0, 1, 0, 2735, 2339)
('B-240216', datetime.date(2024, 2, 2), 'February', 2024, 'Dinner', 'Restaurant', 4, 1551, 1551, 0, 0, 0, 2495, 2184)
('41838', datetime.date(2024, 7, 31), 'July', 2024, 'Dinner', 'General', 1, 5, 6, 0, 0, 0, 2053, 1842)
('32405', datetime.date(2024, 4, 5), 'April', 2024, 'Dinner', 'General', 1, 15, 18, 0, 0, 0, 2053, 1842)
('92159', datetime.date(2024, 4, 19), 'April', 2024, 'Lunch', 'General', 2, 0, 0, 0, 0, 0, 2735, 2339)
('36956', datetime.date(2024, 5, 31), 'May', 2024, 'Dinner', 'General', 2, 31, 38, 0, 0, 0, 2053, 1842)

Up to 12 records from dbo.Vw_GI_CompanyMaster for year 2024:
['CompanyCode', 'SiteCode', 'Country', 'CountryCode', 'RestaurantType', 'Cuisine', 'Currency', 'City']
(93, 115, 'UNITED STATES', 'US', 'Cloud/Dark Kitchen', 'American', 'USD', '')
(33, 445, 'UNITED STATES', 'US', 'Not Applicable', 'Not Applicable', 'AED', 'New York')
(996, 1106, 'SAUDI ARABIA', 'KSA', 'Caf√©/Coffee Shop/Bakery', 'African', 'GBP', 'Dammam')
(997, 1107, 'UNITED KINGDOM', 'GB', 'Members Club', 'Multicuisine', 'GBP', ' LONDON')
(998, 1109, 'UNITED ARAB EMIRATES', 'AE', 'Cloud/Dark Kitchen', 'American', 'AED', 'Dubai')
(999, 1110, 'UNITED STATES', 'US', 'Cloud/Dark Kitchen', 'Asian', 'GBP', 'Akutan')
(1001, 1112, 'UNITED KINGDOM', 'GB', 'Fine Dining', 'British', 'GBP', 'London')
(1002, 1113, 'UNITED KINGDOM', 'GB', 'Bar/Pub(+with rooms)/Brewery', 'British', 'GBP', 'London')
(1003, 1114, 'UNITED KINGDOM', 'GB', 'Fine Dining', 'British', 'GBP', 'London')
(1004, 1115, 'UNITED KINGDOM', 'GB', 'Fine Dining', 'Japanese', 'GBP', 'London')
(1005, 1116, 'UNITED KINGDOM', 'GB', 'Fine Dining', '', 'GBP', '')
(1006, 1117, 'UNITED ARAB EMIRATES', 'AE', 'Fine Dining', 'Steakhouse', 'AED', 'Dubai')

In [6]:
import pyodbc

server = "10.0.40.20"
database = "DataWarehouseV2_UK"
username = "DEV_TANISH"
password = "Tanish@@1606$$"

conn_str = (
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={server};DATABASE={database};"
    f"UID={username};PWD={password};TrustServerCertificate=yes;"
)

try:
    conn = pyodbc.connect(conn_str, timeout=5)
    print("Connection successful!")
    cursor = conn.cursor()
    # Query to get all user tables in the database
    cursor.execute("""
        SELECT TABLE_SCHEMA, TABLE_NAME
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE = 'BASE TABLE'
        ORDER BY TABLE_SCHEMA, TABLE_NAME
    """)
    tables = cursor.fetchall()
    print("Tables in the database:")
    for schema, table in tables:
        print(f"{schema}.{table}")
    cursor.close()
    conn.close()
except Exception as e:
    print("Connection failed:", e)

Connection successful!
Tables in the database:
dbo.AISearchHistoryGeneralInfo
dbo.AISearchHistoryInfo
dbo.AISearchTypeInfo
dbo.ARPOS
dbo.ARPOS_022522
dbo.Bbot
dbo.C1811_SI_CategoryDetails
dbo.C1811_SI_SalesDetails
dbo.C1811_SI_SalesSummary
dbo.CashupCategoryPaperchaseCategoryMapping
dbo.CategoryMst
dbo.CompanyGeneralSetting
dbo.CoverSourceMst
dbo.DailySalesSummary
dbo.DayPartMst
dbo.DiningOptionMst
dbo.DiscountTypeMst
dbo.EmployeeMst
dbo.EPOScategoryMstMapping
dbo.EPOSItemMapping
dbo.EposPaperchaseCategoryWeeklySubCategoryMapping
dbo.EposSubCategoryMstMapping
dbo.EposSystemMaster
dbo.ERPGLMst
dbo.ErrorLog
dbo.Grubhub
dbo.Import_Tracking
dbo.Job_Log
dbo.KPI_CategoryGroupMst
dbo.KPI_CategoryMst
dbo.KPI_CheckWiseSummaryDetails
dbo.KPI_CoverSourceDetails
dbo.KPI_DiscountDetails
dbo.KPI_DiscountMapping
dbo.KPI_DiscountMst
dbo.KPI_ItemWiseSalesDetails
dbo.KPI_MenuCategoryMappingMst
dbo.KPI_MunicipleTaxDetails
dbo.KPI_PaymentDetails
dbo.KPI_PaymentMethodMaster
dbo.KPI_RevenueCenterMst
dbo.KPI_ServiceChargeDetails
dbo.KPI_SessionLinkedMaster
dbo.KPI_VoidReasonMst
dbo.KPI_VoidTransactionSummary
dbo.MajGroupCategoryMst
dbo.MajorCategoryMst
dbo.MenuCategoryMst
dbo.MenuItemCategoryMst
dbo.MenuItemMst
dbo.MenuItemPriceMst
dbo.MunicipleTaxMst
dbo.PaperchaseCategoryMaster
dbo.PaperchaseFamilyCategoryMaster
dbo.PaymentMethodMst
dbo.Payroll_DeductionMst
dbo.Payroll_DepartmentMst
dbo.Payroll_EarningMst
dbo.Payroll_EmployerTaxesMst
dbo.Payroll_EmployerTaxesMst_112822
dbo.Payroll_TaxMst
dbo.Payroll_TaxMst_112822
dbo.Payroll_Transactions
dbo.RevenueCenterMst
dbo.SalesCategoryMapping
dbo.SalesCategoryMapping_new
dbo.SalesCatMst
dbo.SalesJournal_Import_DimensionDetail
dbo.SalesJournal_Import_Header
dbo.SalesJournal_Import_SalesJournalDetail
dbo.SalesJournal_Import_SalesJournalType
dbo.SalesJournal_Import_SalesTypeDimensionDetail
dbo.SalesJournalApplicationMaster
dbo.SalesJournalContraMapping
dbo.SalesJournalMasterMapping
dbo.SalesJournalMasterMappingDimensionDetails
dbo.SalesJournalMasterMappingEntryDetail
dbo.SalesJournalTypeMaster
dbo.SalesJournalTypeSetup
dbo.SalesSubCatMst
dbo.ServiceChargeTypeMst
dbo.StaffMeal
dbo.StockAvailability
dbo.StockTransfer
dbo.SubCategoryMst
dbo.TaxMst
dbo.temp_P_AccrualAmount
dbo.temp_P_GrossNetAmount
dbo.temp_P_StaffMealAmount
dbo.temp_P_WeekNo
dbo.temp_P_WeekNo_PC
dbo.TrendingGeneralInfo
dbo.TrendingInfo
dbo.UberEats
dbo.Vw_GI_CompanyMaster
dbo.Vw_GI_SalesDetails
dbo.Vw_GI_SalesSummary
dbo.WageCostDetails